<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'dailySchedule/main.css' %}" rel="stylesheet" />
    <link href="{% static 'dailySchedule/style.css' %}" rel="stylesheet" />

    <title>Cria-01</title>

</head>

<body>
    <div class="v54_127">
        <form action="Criar Cronograma 02.html">
            <span class="v54_132">Horário de início do cronograma</span>
            <input type="text" class="v109_3311">

            <span class="v54_135">Horário do fim do cronograma</span>
            <input type="text" class="v109_3312">

            <span class="v109_3099">Privacidade do Cronograma</span>

            <span class="v109_3102">Público</span>
            <input type="radio" name="publico" class="v109_3313">
            <span class="v109_3103">Privado</span>
            <input type="radio" name="privado" class="v109_3315">

            <div class="v121_57">
                <input type="submit" name="login" id="contID" class="v140_119" value="">
                <label class="v121_59" for="contID">Continue</label>
            </div>

        </form>
        <div class="v109_3137"></div>
        <div class="v109_3138"></div>
        <div class="v109_3140"></div>
        <div class="v141_97"></div>
        <div class="v141_107">
            <div class="v141_108"></div>
            <div class="v141_109"></div>
        </div>
        <div class="v109_3751">
            <div class="v109_3752">
                <div class="v109_3753">
                    <div class="v109_3754"></div>
                    <div class="v109_3755"></div>
                    <div class="v109_3756"></div>
                    <div class="v109_3757"></div>
                </div><span class="v109_3758">Daily Schedule</span>
            </div>
        </div>
    </div>

    <fieldset>
    <legend>Select a maintenance drone:</legend>

    <div>
      <input type="radio" id="huey" name="drone" value="huey"
             checked>
      <label for="huey">Huey</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey">
      <label for="dewey">Dewey</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" value="louie">
      <label for="louie">Louie</label>
    </div>
</fieldset>
</body>

</html>