
<h2>{{simulado.titulo}}</h2>
<p>Pontuação: {{pontuacao}}</p>
{% for questao in simulado.questao_set.all %}
<ul>
    <li>{{questao.texto}} - {{questao.valor}}</li>
    {% for alt in questao.alternativa_set.all %}
        <ul>
            <li>
                {{alt.texto}}
                {% if alt.correta %}
                     <- Alternativa correta
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</ul>
<label>Resposta:</label>
{% for resp in resposta_set.all %}

{% endfor %}
<p>-{{questao.resposta.texto}}-</p>
<hr />

{% endfor %}